<div class="row">
  <div class="col-md-4">
    <h2><%= @user.name %></h2>
    <h2><%= @user.email %></h2>
    <%= button_to "Yes", { controller: "users", action: "create", params: { user: user_params } }, class: 'btn btn-success' %>
    <%= link_to "No", new_user_path, class: 'btn btn-danger' %>
  </div>
</div>
