<h1>About</h1>

<p>I do not have any social media accounts so please accept this google link for my checkpoint submission</p>
    <li><%= link_to "Google", "https://www.google.com/", class: "social-btn" %></li>
