// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color:red
}
.social-btn{
  color:black;
  width: auto;
  height:auto;
  background-color: #1234;
}
.home-btn{
  color:black;
  width: auto;
  height:auto;
  background-color: #1234;
}
.about-btn{
  color:black;
  width: auto;
  height:auto;
  background-color: #1234;
}
.faq-btn{
  color:black;
  width:auto;
  height:auto;
  background-color: #1234;
}
<<<<<<< HEAD

=======
>>>>>>> CRUD
.posts-btn{
  color:black;
  width:auto;
  height:auto;
  background-color: #1234;
}
<<<<<<< HEAD
=======
.ads-btn{
  color:black;
  width:auto;
  height:auto;
  background-color: #1234;
}
>>>>>>> CRUD
